.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: #4d804d;

    a{
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .navItens{
        display: flex;
        gap: 1.5rem;
        
        .navLink{
            color: #ececec;
            padding: 0.5rem 0;
            transition: color 0.3s ease;

            &:hover{
                color: #aaaaaa;
            }
        }
    }

    //media Query => telas menores
    @media (max-width: 800px){
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;

        .navItens{
            flex-direction: column;
            width: 100%;
            gap: 0;
            margin-top: 1rem;

            .navLink{
                padding: 0.8rem;
                border-top: 1px solid rgba(0, 0, 0, 0.05);
            }
            &:last-child{
                border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            }
        }
    }
}